[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
pylint = "*"
nose = "*"
"psycopg2" = "*"
pyjwt = "*"
coveralls = "*"
"pep8" = "*"
gunicorn = "*"

[requires]
python_version = "3.5"
